:root {
    --yahtzee1: #D90D1E;
    --yahtzee2: #BF0426;
    --yahtzee3: #8C031C;
    --yahtzee4: #F20F38;
    --yahtzee5: #D9ADAD;
    --white: #f9f9f9;
    --text: #333333;
}

body {
    color: #f9f9f9;
    background-color: #D90D1E;
}

.navbar-light {
    color: #333333;
}

.btn-secondary {
    border-color: #8C031C;
    background-color: #8C031C;
    color: #f9f9f9;
}

.btn-secondary::selection {
    border-color: #8C031C;
    background-color: #8C031C;
    color: #f9f9f9;
}

.btn-secondary::after {
    border-color: #8C031C;
    background-color: #8C031C;
    color: #f9f9f9;
}

.btn-secondary::active {
    border-color: #8C031C;
    background-color: #8C031C;
    color: #f9f9f9;
}

.btn-secondary:hover {
    border-color: #f9f9f9;
    background-color: #f9f9f9;
    color: #8C031C;
}

.footer {
    color: #333333;
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    text-align: center;
    height: 50px;
    /* box-shadow: 0px -0.5px 2px rgb(54,69,79,0.3); */
}